<!Doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="./fragment/mainHeader.html :: CSS,JS"></div>
  <div th:replace="./fragment/loginHeader.html :: CSS,JS"></div>
  <div th:replace="./fragment/mainHeader.html :: sweetalert"></div>
  <style>
    .container {
      margin-top: 100px;
    }
  </style>
  <title>커뮤니티</title>
</head>
<body>
<div th:replace="./fragment/mainHeader.html :: header"></div>
<div class="container">
  <div>
    <input type="hidden" name="email" th:value="${email}">
    <label for="put_password" th:text="#{label.password}"></label>
    <input type="password" id="put_password">
    <div class="row">
      <div class="col-6">
        <button type="submit" id="putPassword" th:text="#{info.edit}" class="btn btn-info"></button>
      </div>
      <div class="col-6">
        <a th:href="@{/}">
          <button type="button" th:text="#{info.main}" class="btn btn-info"></button>
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/login/editPassword.js"></script>
</body>
</html>